[tool.poetry]
name = "repomeister"
version = "0.1.0"
description = "GitHub Repository Manager"
authors = ["Rob van der Leek <5324924+robvanderleek@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.scripts]
repomeister = "repomeister.__main__:cli"

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
typer = "^0.9.0"
requests = "^2.31.0"
pygithub = "^2.1.1"
pyyaml = "^6.0.1"

[tool.poe.tasks.bundle]
help = "Create a binary executable using pyinstaller"
cmd = "pyinstaller --workpath .build --specpath dist -n repomeister repomeister/__main__.py"

[tool.poetry.group.dev.dependencies]
pyinstaller = "^6.2.0"
poethepoet = "^0.24.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
