name: "Continuous Integration"

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: "18.x"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: "Checkout sources"
        uses: actions/checkout@v4

      - name: "Setup NodeJS"
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}

      - name: "Install dependencies"
        run: npm ci

      - name: "Build"
        run: npm run build --if-present

      - name: "Run tests"
        run: npm test
